<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <nav  class="navbar navbar-expand-lg navbar-light bg-light align-center" >
        <a  topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"  class="navbar-brand" href="http://127.0.0.1:8000/home">Online shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto " >
            <li class="nav-item active">
              <a href="http://127.0.0.1:8000/products" class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a href="http://127.0.0.1:8000/costumers/" class="nav-link" href="#">Costumers</a>
            </li>
            <li class="nav-item active">
                <a href="http://127.0.0.1:8000/payments/" class="nav-link" href="#">Payments</a>
              </li>
            <li class="nav-item active">
                <a href="http://127.0.0.1:8000/cart/" class="nav-link" href="#">Cart</a>
              </li>
              
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          
        </div>
      </nav>
    
</body>
</html>